/* styleEV.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#message-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #56ada4;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#email-verified-message {
    margin: 0;
    font-size: 48px;
}
